body{
  margin: 10 auto;
}
header{
  background-color: #e6ffff;
  width: 100%;
  height: 20vh;
}
nav{
  background-color: #99ffff;
width: 100%;
    height: 5vh;
}
main{
  width: 65%;
  float: left;
}
section{
    background-color: #1affff;
height: 30vh;
}
article{
    background-color: #00e6e6;
height: 30vh;
}
aside{
    background-color: #00b3b3;
width: 35%;
  float: left;
  min-height: 60vh;
}
footer{
    background-color: #009999;
  width: 100%;
  height:10vh;
  float: left;

}
